<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>LELO</title>
  </head>
  <body class="container-fluid pt-5 mt-5">
    <%- include('../partials/header'); %>
    <!-- error div -->
    <div id="errorDiv" class="col-12 bg-danger text-white mt-5 mb-2 d-none " onclick="hideSuccess(this)">
        <p  class="text-center fs-4"></p>
    </div>
    <!-- successDiv -->
    <div id="successDiv" class="col-12 bg-success text-white mt-5 mb-2 d-none " onclick="hideSuccess(this)">
        <p  class="text-center fs-4"></p>
    </div>
    <button type="button" class="btn btn-success col-12 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#newProductModal%>">
        ADD NEW PRODUCT
    </button>
    </div>
    <!-- modal -->
    <div class="modal fade" id="newProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">     
                <h1 class="modal-title fs-5" id="exampleModalLabel">ADD NEW PRODUCT</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="imageInput" class="mb-2">Upload Image</label>
                    <input type="file" name="image" class="form-control" id="imageInput">
                </div>
                <div class=" mb-3 form-floating">
                    <input placeholder="enter new name" type="text" class="form-control" id="nameInput">
                    <label for="nameInput" >Enter Name</label>
                </div>
                <div class="mb-3 form-floating">
                    <input placeholder="enter new price" type="number" class="form-control" id="priceInput">
                    <label for="priceInput" >Enter Price</label>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" id="detailsInput"  placeholder="Enter Product Details"></textarea>
                    <label for="detailsInput" >Enter Details</label>
                </div>

                <div class="mb-3 form-floating">
                    <input placeholder="Update Quantity" type="number" class="form-control" id="quantityInput">
                    <label for="quantityInput" > Enter Quantity</label>
                </div>
            </div>
            <div class="modal-footer">
            <button class="btn btn-success" data-bs-dismiss="modal" onclick="addNewProduct()">SAVE</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    
    <%- include('../partials/adminProducts'); %>
    <a class="btn btn-outline-secondary col-12 mt-4" id="loadMore" onclick="loadMoreProd()" role="button">LOAD MORE +</a>
  </body>
</html>

<!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>

    sessionStorage.setItem("loadNext","4");
    function loadMoreProd(){
    let loadNext = sessionStorage.getItem("loadNext")
    fetch(`/loadMoreProd/${loadNext}`)
    .then( res =>{
        return res.json();
    })
    .then( data =>{
        data.result.forEach(function(obj){
        displayLoadedProduct(obj)
        })
        sessionStorage.setItem("loadNext",data.nextProductCount)
    })
    }


    function displayLoadedProduct(obj){
    let parent = document.getElementById("parent");
    let cont = document.createElement("div");
    cont.classList.add("col-xs-12", "col-md-3", "mb-3",  "mb-sm-0", "mh-25", "shadow")
    cont.id = obj.id
    let id = `${obj.id}`
    cont.innerHTML = 
    `
        <div class="card">
            <img src="${obj.image}" data-bs-toggle="modal" data-bs-target= "#${obj.id+"m"}" class="card-img-top" height="250vh">
            <div class="card-body">
                <h5 id="${obj.id+"n"}" class="card-title">${obj.name} </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li id="${obj.id+"p"}" class="list-group-item">${obj.price}</li>
                <li id="${obj.id+"q"}" class="list-group-item">Quantity: <b>${obj.quantity}</b></li>
            </ul>
            <div class="card-footer d-flex justify-content-around">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#${obj.id+"m"}">
                Edit Details
                </button>
                <button onclick="deleteProduct(this,'${id}')" type="button" class="btn btn-danger">
                Delete Product
                </button>
            </div>
        </div>
    `
    let modelCont = document.createElement("div");
    modelCont.classList.add("modal","fade");
    modelCont.id = obj._id+"m";
    modelCont.tabIndex = -1
    modelCont.innerHTML = 
    `
    <!-- Modal -->
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT ${obj.name}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-12">
                    <img src="${obj.image}" class="card-img-top" alt="...">
                    </div>
                    <form >
                        <div class="col-12 mb-3">
                            <label for="${obj.id+"name"}" class="col-form-label"> ${obj.name}</label>
                            <input placeholder="enter new name" type="text" class="form-control" id="${obj.id+"name"}">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="${obj.id+"price"}" class="col-form-label">${obj.price}</label>
                            <input placeholder="enter new price" type="number" class="form-control" id="${obj.id+"price"}">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="${obj.id+"details"}" class="col-form-label"> Details</label>
                            <textarea rows="5" cols="30" type="text" class="form-control" id="${obj.id+"details"}"> ${obj.details}</textarea>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="${obj.id+"qty"}" class="col-form-label"> Quantity:${obj.quantity}</label>
                            <input placeholder="Update Quantity" type="number" class="form-control" id="${obj.id+"qty"}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="${id}" data-bs-dismiss="modal" onclick="update('${obj.id}')">SAVE</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    `
    parent.appendChild(cont);
    parent.appendChild(modelCont);
    }
// function call only works whe enclosing with single quotes or back ticks
    function deleteProduct(el,id){
        fetch(`/deleteProduct?id=${id}`,{method:'POST'})
        .then(res =>{
            if(res.status == 200){
                let container = document.getElementById(id);
                container.remove();
            }
        })
    }

    function update(id){
        let pName = document.getElementById(id+"name");
        let pPrice = document.getElementById(id+"price");
        console.log(pPrice);
        let pDetails = document.getElementById(id+"details");
        let pQty = document.getElementById(id+"qty");
        let obj = {
            name:pName.value,
            price: pPrice.value,
            details:pDetails.value,
            qty:pQty.value
        }


        fetch(`/updateProduct?id=${id}`,{
            method:'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body:JSON.stringify(obj)
        })
        .then(res=>{
            if(res.status = 200){
                pName.innerHTML = pName.value;
                pPrice.innerHTML = pPrice.value;
                pDetails.innerHTML = pDetails.value;
                pQty.innerHTML = pQty.value;
                let name = document.getElementById(id+"n")
                let price = document.getElementById(id+"p")
                let qty  = document.getElementById(id+"q")
                name.innerHTML= pName.value;
                price.innerHTML = pPrice.value;
                qty.innerHTML = `Quantity: <b>${pQty.value}</b>`
            }
        })
    }

    function addNewProduct(){
        let name = document.getElementById("nameInput");
        let price = document.getElementById("priceInput");
        let details = document.getElementById("detailsInput");
        let quantity = document.getElementById("quantityInput");
        let image = document.getElementById("imageInput").files;
        const formData = new FormData()
        let obj = {
            name:name.value,
            price:price.value,
            details:details.value,
            quantity:quantity.value
        }
        formData.append('image', image[0])
        formData.append("obj",JSON.stringify(obj) )
        fetch('/addNewProduct',{
            method:"POST",
            body:formData
        })
        .then(res =>{
            if(res.status == 400){
                let errorDiv = document.getElementById("errorDiv");
                errorDiv.firstElementChild.innerHTML = "check file size <250kb or valid extension of jpg/jpeg/png"
                errorDiv.classList.remove("d-none")
            }else{
                return res.json();
            }
        })
        .then( data =>{
            let successText = document.getElementById("successDiv");
            successText.firstElementChild.innerHTML = data.msg;
            successText.classList.remove("d-none")
        })
    }

    function hideSuccess(el){
        el.classList.add("d-none")
      }

    window.setTimeout(function() {
        $('#successDiv').fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 3000);
</script>


